/* Sahel Font - Regular */
@font-face {
  font-family: 'Sahel';
  src: url('/fonts/Sahel.woff2') format('woff2'),
       url('/fonts/Sahel.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Sahel Font - Light */
@font-face {
  font-family: 'Sahel';
  src: url('/fonts/Sahel-Light.woff2') format('woff2'),
       url('/fonts/Sahel-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Sahel Font - Bold */
@font-face {
  font-family: 'Sahel';
  src: url('/fonts/Sahel-Bold.woff2') format('woff2'),
       url('/fonts/Sahel-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
